<div class="filters_container">
  <input type="text" pInputText placeholder="Search" />
  <p-dropdown
    [options]="this._entityFiltersService.cgiarEntityTypology"
    [(ngModel)]="selectedEntityType"
    optionLabel="name"
    (onChange)="onChangeEntityType($event)"
    optionValue="code"
    placeholder="Select a entity type"></p-dropdown>
  <p-dropdown
    [options]="this._entityFiltersService.portfolios"
    [(ngModel)]="selectedPortfolio"
    optionLabel="name"
    (onChange)="onChangePortfolio($event)"
    optionValue="code"
    placeholder="Select a portfolio"></p-dropdown>
  <div class="export_button">
    <i class="pi pi-download"></i>
    Export
  </div>
</div>

<div class="custom_table">
  <p-table
    #dt
    [value]="this.dataList"
    [tableStyle]="{ width: '100%' }"
    [styleClass]="'p-datatable-sm'"
    [expandedRowKeys]="expandedRowKeys"
    dataKey="smo_code">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Acronym</th>
        <th>Portfolio</th>
        <th>CGIAR Entity Type</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pRipple
            class="p-button-text p-button-rounded p-button-plain expand-btn"
            (click)="toggleRow(product)"
            [attr.aria-expanded]="expanded">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </button>
          {{ product.smo_code }}
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.cgiar_entity_type }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
      <tr>
        <td colspan="5" class="expanded-row">
          <div class="expanded-content">
            <div *ngIf="!product.children || product.children.length === 0" class="no-children">
              <p><strong>No hay elementos hijos disponibles para mostrar</strong></p>
            </div>
            <p-table
              *ngIf="product.children && product.children.length > 0"
              [value]="product.children"
              [tableStyle]="{ width: '100%', 'min-width': '100%' }"
              [styleClass]="'p-datatable-sm nested-table'">
              <ng-template pTemplate="body" let-child>
                <tr>
                  <td>{{ child.code }}</td>
                  <td>{{ child.name }}</td>
                  <td>{{ child.acronym }}</td>
                  <td>{{ child.portfolio }}</td>
                  <td>{{ child.cgiar_entity_type }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
