<section class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 about">
        <img
          src="../../../../assets/images/cgiarlogo.png"
          style="width: 90px; margin-bottom: 20px"
          alt="Grow Landscape"
        />

        <p>
          CLARISA is a One CGIAR web service supporting information management
        </p>
      </div>

      <div class="col-sm-6 col-md-3 footer-nav">
        <h3>Quick Links</h3>

        <ul>
          <li *ngFor="let item of quickLinks">
            <a [routerLink]="item.link">
              <i class="fa fa-angle-right hidden-xs"></i>
              {{ item.name }}
            </a>
          </li>

          <li>
            <a
              href="https://cgiar-prms.notion.site/Legal-Terms-eb2f3e436f3e46bd9057b1cb1e3391b8"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fa fa-angle-right hidden-xs"></i>
              Terms and Conditions
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <h3>Achievements</h3>

        <a
          class="achievements__content"
          href="https://cgiar-prms.notion.site/What-is-new-in-CLARISA-943a928675974d8eb5d8e51d3c7467d0"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="pi pi-megaphone" style="font-size: 1.5rem"></i>
          <p>What is new in CLARISA</p>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <h3>Contact Info</h3>

        <a
          class="achievements__content"
          href="mailto: clarisasupport@cgiar.org"
        >
          <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
          <p>clarisasupport@cgiar.org</p>
        </a>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <p>
      CLARISA is mainly developed by the Innovation & Business Development Team
      under the Technology Integration Unit at the Alliance of Bioversity
      International and CIAT, in close collaboration with the One CGIAR Project
      Portfolio Unit (PPU) and Project Coordination Unit (PCU), ICARDA and CIP.
    </p>
  </div>
</footer>
