<div class="banner-wrapper">
  <div
    class="carousel fade-carousel slide"
    data-ride="carousel"
    data-interval="4000"
    id="bs-carousel"
  >
    <div class="overlay"></div>
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1">
          <img
            src="assets/images/bannertow.jpg"
            style="object-fit: cover; height: 500px"
            alt="Grow Landscape"
          />
        </div>

        <div class="hero">
          <h1 class="hero--title">
            CLARISA
            <span>
              A web service supporting information management within One CGIAR
            </span>
          </h1>

          <button
            class="btn btn-hero animated3 hero--button"
            routerLink="/landing-page/contact-us"
          >
            Contact us
          </button>

          <button
            class="btn btn-hero animated3 hero--button"
            routerLink="/landing-page/api-services"
          >
            Services
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
