.tes-img img {
  height: 175px;
  width: auto;
}

.carousel {
  display: flex;
  flex-direction: column;
}
.line {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
.item {
  margin-top: 30px;
}

.link__btn {
  color: black !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  background-color: #ffc84f !important;

  &:hover {
    background-color: #e4b349 !important;
  }
}
